doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(href="images/favicon.ico" rel="shortcut icon")
    link(href="styles/normalize.css", rel="stylesheet", type="text/css")
    link(href="styles/style.css", rel="stylesheet", type="text/css")
  body
    #wrapper
      .main.fade-in
        .header
          h1.fade-in
            .small SF/Bay Area
            .fade-in Interns 2018
          p.error.fade-in= error.status
          pre #{error.stack}
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js")
    script.
      TweenMax.staggerTo('.fade-in', 0.5, {
        opacity: 1,
        delay: .5,
        y: 0
      }, .15);
