@font-face {
    font-family: 'Circular';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/CircularStd-Book.otf');
}

@font-face {
    font-family: 'Circular';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/CircularStd-Bold.otf');
}

body {
    box-sizing: border-box;
    font: 17px/1.3 'Circular', system-ui, sans-serif;
    background: #F45151;
    color: #F55353;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 2.6em;
}
#wrapper {
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 430px;
    height: 526px;
    padding: 50px 50px 30px;
    background: white;
    box-shadow: 2px 4px 3px rgba(0,0,0,.13), 0 9px 22px rgba(0,0,0,.11);
    border-radius: 6px;
}

.small {
    text-transform: uppercase;
    font-size: 0.5em;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.9rem;
}

.field {
    font-size: 1rem;
    color: #4C4646;
    padding: 10px 0;
    margin-bottom: 15px;
    outline: none;
    border: none;
    box-shadow: inset 0 -1px #EFEFEF;
    transition: box-shadow .2s ease;
}

.field::placeholder {
    font-weight: normal;
    color: #D2D2D2;
}

.field:focus {
    box-shadow: inset 0 -2px #f9bbbb;
}

@media only screen and (max-width: 560px) {
    .information {
        width: 100%;
    }
    .form {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .field {
        width: 90%;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
        padding: 0 20 20 0;
    }
}

.submit {
    align-self: flex-end;
    padding: 0;
    cursor: pointer;
    margin-top: 17px;
    background: none;
    border: none;
    color: #F55353;
    box-shadow: 0 2px 0 rgba(245, 83, 83, 0.3);
}

.error {
    color: #FE7070;
    font-weight: 700;
    font-size: 25px;
}
